<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgwx.dao.GisProductLayerInfoMapper">
  <resultMap id="BaseResultMap" type="com.cgwx.data.entity.GisProductLayerInfo">
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="single_id" jdbcType="VARCHAR" property="singleId" />
    <result column="layer_name" jdbcType="VARCHAR" property="layerName" />
    <result column="sld_path" jdbcType="VARCHAR" property="sldPath" />
    <result column="style_name" jdbcType="VARCHAR" property="styleName" />
    <result column="legend" jdbcType="VARCHAR" property="legend" />
  </resultMap>
  <insert id="insert" parameterType="com.cgwx.data.entity.GisProductLayerInfo">
    insert into gis_product_layer_info (product_id, single_id, layer_name, 
      sld_path, style_name, legend
      )
    values (#{productId,jdbcType=VARCHAR}, #{singleId,jdbcType=VARCHAR}, #{layerName,jdbcType=VARCHAR}, 
      #{sldPath,jdbcType=VARCHAR}, #{styleName,jdbcType=VARCHAR}, #{legend,jdbcType=VARCHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select product_id, single_id, layer_name, sld_path, style_name, legend
    from gis_product_layer_info
  </select>
</mapper>